.home-section {
    background: white;
    position: relative;
    padding: 40px 0 40px 0;
    z-index: 0; }
  
.home-section.dark h1 {
    color: rgb(255, 255, 255);
}

.home-section.dark h3 {
    color: rgb(251, 178, 101);
    font-weight: 300;
}

.people-widget {
    text-align: center;
  }
 ul {
    list-style-position: inside;
}